# Synopsis

Convert [General Inquirer lexicon](http://www.wjh.harvard.edu/~inquirer/spreadsheet_guide.htm) into usable form. Download [the spreadsheet](http://www.wjh.harvard.edu/~inquirer/inquirerbasic.xls).

# Libraries

In [1]:
import pandas as pd
import numpy as np

# Pragmas

In [2]:
%matplotlib inline

# Process

## Import Excel file 

It has 182 ontology/sentiment columns

In [3]:
df = pd.read_excel('inquirerbasic.xls', false_values=None)

In [4]:
# remove irregular row

df = df.drop(df.index[3899])
df.shape

(11787, 186)

In [5]:
df.sample(10)

,Entry,Source,Positiv,Negativ,Pstv,Affil,Ngtv,Hostile,Strong,Power,...,Anomie,NegAff,PosAff,SureLw,If,NotLw,TimeSpc,FormLw,Othtags,Defined
11477,WELL#3,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,If,NaN,NaN,NaN,PREP,"| 4% prep-adv: ""As well (as)""--in addition (to)"
6790,MUCH,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,Strong,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET PRE PRE2 PRON LY,"| pron-adj-adv: Being of great quantity, amoun..."
5024,HIERARCHY,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
10134,SUFFRAGE,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Power,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
8701,REUNIFY,Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,NaN
784,ATTRACTION,H4Lvd,Positiv,NaN,Pstv,Affil,NaN,NaN,Strong,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
2181,CONQUEROR,H4,Positiv,NaN,NaN,NaN,NaN,NaN,Strong,Power,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
6087,LIGHT#2,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,"| 10% verb: To ignite, turn on"
470,ANCIENT,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,TimeSpc,NaN,Modif,|
7809,POOR#3,H4Lvd,NaN,Negativ,NaN,NaN,Ngtv,NaN,NaN,NaN,...,NaN,NegAff,NaN,NaN,NaN,NaN,NaN,NaN,Modif,"| 3% adj: ""Poorer""--comparative of senses 1 and 2"

## Handle variant terms

In [6]:
df['split'] = df.Entry.str.split(r'[#_]+')

In [7]:
# Function to add 1 to terms without variants
def add_1(x):
    try:
        if len(x) == 1:
            x = x + [1]
    except:
        print(x)
        x = 0
    return x

In [8]:
# # remove invalid rows
# ind = [None] * len(df.split)
# for i in range(len(df.split)): 
#     ind[i] = (type(df['split'][i]) == list)
    
# df['split'] = df['split'].iloc[ind, ]

df['split'] = df['split'].apply(add_1)
df['term_str'] = df['split'].apply(lambda x: x[0].lower(), 1)
df['term_var'] = df['split'].apply(lambda x: x[1], 1)
df = df.set_index(['term_str', 'term_var'])

In [9]:
df['split'][3899]

['FALSEHOOD', 1]

In [10]:
df.head()

,,Entry,Source,Positiv,Negativ,Pstv,Affil,Ngtv,Hostile,Strong,Power,...,NegAff,PosAff,SureLw,If,NotLw,TimeSpc,FormLw,Othtags,Defined,split
term_str,term_var,,,,,,,,,,,,,,,,,,,,,
a,1,A,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET ART,| article: Indefinite singular article--some o...,"[A, 1]"
abandon,1,ABANDON,H4Lvd,NaN,Negativ,NaN,NaN,Ngtv,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|,"[ABANDON, 1]"
abandonment,1,ABANDONMENT,H4,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|,"[ABANDONMENT, 1]"
abate,1,ABATE,H4Lvd,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|,"[ABATE, 1]"
abatement,1,ABATEMENT,Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,NaN,"[ABATEMENT, 1]"

## Convert column values to numbers

In [11]:
try:
    df.loc[df.Positiv == 'Positiv', 'polarity'] = 1
    df.loc[df.Negativ == 'Negativ', 'polarity'] = -1
    df['polarity'] = df['polarity'].fillna(0)
except TypeError as e:
    print(e, "--  This means you are re-running the script with values that have already been set.")

C:\Users\Fang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2843: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)

In [12]:
df.polarity.sample(10)

term_str     term_var
prosperous   1           1.0
to           7           0.0
floor        4           0.0
way          10          0.0
nobleman     1           1.0
grown        6           0.0
throw        6           0.0
body         3           0.0
recognition  1           0.0
wash         3           0.0
Name: polarity, dtype: float64

In [13]:
VALCOLS = df.columns[2:-4]

In [14]:
for col in VALCOLS:
    df[col] = df[col].fillna(0).astype('bool').astype('int')

In [15]:
df.loc['love', VALCOLS].stack().sort_values(ascending=False)

term_var
1         Positiv    1
5         Active     1
2         AffOth     1
1         AffTot     1
          AffGain    1
5         SocRel     1
3         AffGain    1
          AffTot     1
1         SV         1
5         Strong     1
4         AffGain    1
5         Affil      1
4         Positiv    1
          Pstv       1
          Affil      1
          Passive    1
          Pleasur    1
          EMOT       1
2         Positiv    1
          Pstv       1
          Affil      1
          Passive    1
6         SocRel     1
          Affil      1
3         Positiv    1
          Pstv       1
          Affil      1
          Passive    1
          Pleasur    1
          EMOT       1
                    ..
5         RcGain     0
          RcEnds     0
          Self       0
          RcTot      0
          RspGain    0
          RspLoss    0
          RspOth     0
          RspTot     0
          AffLoss    0
          AffPt      0
          PowPt      0
          PowAuPt    0
          PowCoop    0
          PowCon     0
          Our        0
          You        0
          Name       0
          Yes        0
          No         0
          Negate     0
          Intrj      0
          DAV        0
          SV         0
          IPadj      0
          IndAdj     0
          PowGain    0
          PowLoss    0
          PowEnds    0
          PowAren    0
4         Abs@       0
Length: 1274, dtype: int32

In [16]:
# # Handle terms with multiple entries
# VAR_COUNTS = df.reset_index().groupby(['term_str']).term_var.count()\
#     .to_frame().rename(columns={'term_var':'n_vars'})
# SINGLES = VAR_COUNTS == 1
# SINGLES.head()
# df.loc['a'].T
# df.loc[SINGLES.n_vars.values]

## Take and combine only sentiment

In [17]:
sents = df.query("Positiv > 0 | Negativ > 0").copy()

In [18]:
sents['sentiment'] =  sents.Positiv  - sents.Negativ

In [19]:
sents['sentiment'].sample(5)

term_str   term_var
horrify    1          -1
nuisance   1          -1
subside    1          -1
objection  1          -1
unguarded  1          -1
Name: sentiment, dtype: int32

### Take average of variants

In [20]:
GI = sents.groupby('term_str').sentiment.mean()

### Snap values to -1, 0, or 1

In [21]:
GI = np.sign(GI).astype('int').to_frame()

In [22]:
GI.shape

(3625, 1)

In [23]:
GI.head()

             sentiment
term_str
abandon             -1
abandonment         -1
abate               -1
abdicate            -1
abhor               -1

# Save

In [25]:
GI.to_csv('gi.csv')